/* 页脚透明 */
#footer {
	background: rgba(255, 255, 255, .15);
	color: #000;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	-webkit-backdrop-filter: saturate(100%) blur(5px);
	backdrop-filter: saturate(100%) blur(5px)
}

#footer::before {
	background: rgba(255, 255, 255, .15);
}

#footer #footer-wrap {
	color: var(--font-color);
}

#footer #footer-wrap a {
	color: var(--font-color);
}


/* 滚动条 */
::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #49b1f5;
}


/* 文章页目录悬停阴影 */
#aside-content #card-toc .toc-content .toc-link.active {
    padding: 5px 0 5px 15px;
    border-radius: 8px;
    /* box-shadow: 2px 5px 10px #304ffe; */
    background:#49b1f5 ;
    color:#FFF
}

#pagination .page-number.current {
    background: #49b1f5;
    color: var(--white);
}